/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.6;
  background: #f2f2f2;
  color: #333;
  
}
h1 ,h2 {
  color: #DEE2E6;
}
.header{
    padding: 1rem;
    background-color:#09203A ;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.nav ul {
  list-style: none;
  
  gap: 20px; /* space between items */
  padding: 0;
  margin: 0; /* Ensure no extra margin */
}
  
.nav li a {
  
    text-decoration: none;
    color: #DEE2E6;
    font-size: 1.1rem;
  }
  
.nav li a:hover {
    text-decoration: underline;
  }