* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
}

#hero {
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: white;
}

#nav {
    width: 100%;
    padding: clamp(10px, 6vw, 30px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

#heading {
    margin-top: 30px;
}

#heading h1 {
    font-family: "General Sans";
    margin-left: 28px;
    opacity: 0.65;
    line-height: 1;
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 800;
}

#heading #h {
    margin-left: 130px;
}

.blocktext {
    width: fit-content;
}

.blocktext h5 {
    text-align: right;
    font-size: 15px;
}

#smallheading {
    text-transform: uppercase;
    padding-top: 145px;
    padding-right: 20px;
}

#smallheading h5 {
    text-align: right;
    padding: 2px;
    font-size: 15px;
}

#herofotter {
    position: absolute;
    width: 100%;
    bottom: 3%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofotter a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1px;
}

#iconset {
    align-items: inline;
}

/* second page */

#second {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12vw;
    width: 100%;
    background-color: #000;
    height: 100vh;
    /* border-bottom: 1px solid #888; */
}

.ele {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #888;
    color: white;
    opacity: 0.8;
    padding: 4vw 0vw;
}

.ele h1 {
    text-transform: uppercase;
    color: white;
    opacity: 0.8;
    font-size: 7vw;
}

.ele h4 {
    color: white;
}

#last {
    border-bottom: 1px solid #888;
}
