h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(56, 61, 217);
    flex-direction: centre ;
}
p {
    color: orange;
    background-color: black;
}

button {
    color : white;
    background-color: black ;
}